.overlay-container {
  height: 100vh;
  background-color: rgba(230, 233, 242, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay-primary-heading-container {
  width: 46.2rem;
  height: 3.9rem;
}
.overlay-primary-heading {
  font-family: inherit;
  font-weight: 800;
  font-size: 3.2rem;
  color: rgba(0, 0, 0, 1);
}
.overlay-wallet-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5rem;
}
.wallet-item {
  margin-top: 12.9rem;
  width: 19.1rem;
  height: 17.4rem;
  border-radius: 1.9rem;
  background-color: #fff;
  cursor: pointer;
}
