/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Global Rest */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
  position: relative;
}
ul {
  list-style: none;
}
li {
  text-decoration: none;
}
a:link,
a:visited {
  text-decoration: none;
}

a:active,
a:visited {
  color: black;
}
